<header>
  <h1 style="display: inline; height: 100%; float: left">
    <a href="/shelters">Shelters Index</a>
  </h1>
  <h1 style="display: inline; height: 100%; float: right; text-align: right">
    <a href="/pets">Pets Index</a>
  </h1>
</header>
<main>
<h1>Adopt! Don't Shop!</h1>
<p>When is the best time to adopt?: <%= Time.now %></p>
<h3><a href="/shelters">View All Shelters</a></h3>
<h3><a href="/pets">View All Pets</a></h3>
</main>
